* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
@mixin log-titles {
  font-size: 50px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
}
@mixin buttons_text {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
@mixin input_box {
  width: 486px;
  height: 60px;
  border: 4px solid #e353d5;
  border-radius: 8px;
  cursor: pointer;
}

@mixin placeholders {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 15px;
}

.header {
  width: 100vw;
  height: 90px;
  background-color: #e353d5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 872px;

  .logo {
    display: flex;
    justify-content: baseline;
    align-items: center;
  }
  .logo_icon {
  }
  .logo_text {
    font-size: 49px;
    font-weight: 900;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }
  .header_buttons {
    display: flex;
    gap: 25px;
    justify-content: baseline;
    align-items: center;
  }
  .header_sign-in {
    @include buttons_text;
    width: 118px;
    height: 70px;
    border-radius: 8px;
    border: 5px solid #ffffff;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header_sign-up {
    @include buttons_text;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  background-image: url("../img/bg.png");
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;

  .login__screen {
    width: 606px;
    height: 570px;
    border-radius: 25px;
    border: 4px solid #000000;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login__title {
    @include log-titles;
    margin-top: 96px;
    margin-bottom: 27px;
  }
  .login__username {
    display: block;
    @include input_box;
    @include placeholders;
    margin-bottom: 46px;
  }
  .login__password {
    display: block;
    @include input_box;
    @include placeholders;
    margin-bottom: 26px;
  }
  .submit__box {
    display: flex;
    justify-content: center;
    gap: 102px;
    align-items: baseline;
  }
  .submit__forgot-password {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }

  .submit__button {
    width: 181px;
    height: 49px;
    display: block;
    border-radius: 8px;
    background-color: #e353d5;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
}
/*registration screen*/

.sign-up__screen {
  width: 606px;
  height: 786px;
  border-radius: 25px;
  border: 4px solid #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sign-up__email,
  .sign-up__name,
  .sign-up__surname,
  .sign-up__username,
  .sign-up__password {
    display: block;
    @include input_box;
    @include placeholders;
    margin-bottom: 43px;
  }

  .sign-up__title {
    @include log-titles;
    margin-top: 57px;
    margin-bottom: 36px;
  }
}

/*profile screen*/
body {
  background-image: url("../img/bg.png");
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.wrapper__profile {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 21px;
  width: 1121px;
  margin: auto;
}
.menu {
  width: 158px;
  height: 146px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu__item {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.main {
}
.personal__info {
  padding-top: 21px;
  width: 942px;
  background-color: #ffffff;
  height: 927px;
  border-radius: 0px, 0px, 30px, 30px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.personal__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 343px;

  .personal__name {
    display: block;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: right;
    margin-bottom: 10px;
  }
  .personal__id {
    color: grey;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
  }
  .personal__status {
    border: none;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
    flex: 1 1 auto;
    cursor: pointer;
    width: 470px;
  }
  .personal__buttons {
    align-self: flex-end;
    display: flex;
    gap: 20px;
    @include buttons_text;
  }
  .personal__add-friend {
    @include buttons_text();
    background: #e353d5;
    border: none;
    text-align: center;
    color: white;
    width: 181px;
    height: 49px;
    border-radius: 8px;
    display: block;
  }
  .personal__send-mess {
    @include buttons_text();
    border: none;
    background: #e353d5;
    text-align: center;
    color: white;
    display: block;
    width: 181px;
    height: 49px;
    border-radius: 8px;
    text-align: center;
  }
}
.info__img {
  width: 336px;
  height: 343px;
  border: 1px solid black;
  justify-self: flex-end;
}
.social {
}
.social__detailed_1 {
}
.social__followers {
}
.followers__title {
}
.followers__item {
}
.social__groups {
}
.groups__title {
}
.groups__item {
}
.social__following {
}
.following__title {
}
.following__item {
}
.social__friends {
}
.friends__title {
}
.friends__item {
}
.personal__add-post {
}
.add-post {
}
.add-post__text {
}
.add-post__img {
}
.personal__post {
}
